/* Variables */
:root{
    font-size: 17px;

    --gray: #dddddd;
    --purple: #65306b;
    --purple-dark: #92349e;

    --fs-h1: 1.6rem;
    --fs-h2: 1.3rem;
    --fs-link: 1.15rem;
    --fs-hd-btn: 1.4rem;

    --min-width: 375px;
}