/* Variables */
:root{
    font-size: 14px;

    --gray: #dddddd;
    --purple: #92349e;
    --purple-dark: #65306b;

    --fs-h1: 1.4rem;
    --fs-h2: 1.3rem;
    --fs-link: 1.4rem;
    --fs-hd-btn: 1.4rem;

    --min-width: 375px;
}